<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="image-content pulsando">
        <img src="assets/svg/favicon.svg" alt="Trofeu pulando">
        <span>Nossa senhora consolata</span>
      </div>
        <div class="list-box-name">
          <% rows.forEach(function(item) { %>
          <div class="box-name">
            <span><%= item.nome %></span>
            <span><%= item.total %></span>
          </div>
          <% }); %>
        </div>
        <div class="image-content sgm">
          <img src="assets/img/logo-segue-me.png" alt="logo-segue-me">
          <span>Paróquia Nossa Senhora Consolata</span>
          <span>"Vem e Segue-me - Teste"</span>
        </div>
    </div>
  </body>
</html>
